$color-white: #ffffff;
$color-light: #fafafa;
$color-silver: #aaaaaa;
$color-red: #ff4136;
$color-green: #2ecc40;
$color-dark-green: #0e9c00;
$color-yellow: #ffdc00;

$color-navmenu: $color-white;
$color-navmenu-selected: $color-yellow;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 2.5vh;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.animated {
  transition: all 0.2s ease-out;
}

.flex {
  display: flex;
  &.row {
    flex-direction: row;
  }
  &.column {
    flex-direction: column;
  }
  &.jc {
    justify-content: center;
  }
}
.fluid {
  flex: 1;
}
.padded {
  padding: 1em;
}

.app {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;

  background-color: $color-light;

  .container {
    flex-basis: 640px;
    flex-grow: 0;
  }
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .scrollable {
      overflow: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }

    .section {
      flex: 1;
      display: flex;
      flex-direction: column;
      &.explore {
        .movie {
          box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px;
          background-color: $color-white;
          border: 1px solid $color-light;
          border-radius: 1em;
          flex: 1;
          display: flex;
          flex-direction: column;
          transition: all 0.25s ease-out;
          &.liked {
            transform: translateX(-100%);
            opacity: 0;
          }
          &.banned {
            transform: translateX(100%);
            opacity: 0;
          }
          &.hidden {
            transform: scale(0);
            opacity: 0;
          }

          .title {
            font-size: 1.5em;
          }
          .rating {
            font-size: 0.75em;
            &.bad {
              color: $color-red;
            }
            &.good {
              color: $color-green;
            }
          }
          .summary {
            color: $color-silver;
          }
          .photo {
            margin: 1em 0;
            border: 1px solid $color-light;
            flex: 1;
            background-color: $color-light;
            position: relative;
            display: flex;
            flex-direction: row;

            img {
              -webkit-user-drag: none;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .actions {
          padding: 1.5em;
          .button {
            @extend .animated;
            &.like {
              background-color: $color-red;
            }
            &.ban {
              background-color: $color-silver;
            }
            &.active {
              transform: scale(0.9);
            }
            cursor: pointer;
            font-size: 1.5em;
            border-radius: 50%;
            flex-basis: 2em;
            height: 2em;
            margin: 0 0.5em;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          }
        }
      }
      &.votes {
        background-color: white;
        border-radius: 1em;
        padding: 1em;

        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          li {
            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            .title {
              flex: 1;
              margin-right: 1em;
            }
            .action {
              color: $color-red;
              cursor: pointer;
              padding: 1em;
            }
            &:not(:last-child) {
              border-bottom: 1px solid $color-light;
            }
          }
        }
      }
    }
  }

  .navmenu {
    display: flex;
    flex-direction: row;
    background-color: $color-navmenu;
    user-select: none;
    border-bottom: 1px solid $color-light;

    .item {
      @extend .animated;

      padding: 1em;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      cursor: pointer;

      .icon {
        height: 1.5em;
        margin-bottom: 0.5em;
      }

      &.selected {
        background-color: $color-navmenu-selected;
      }
    }
  }
}

.icon {
  height: 1em;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.locked {
  pointer-events: none;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 1.5em;
  margin-bottom: 1em;
  padding: 0;
}

.empty {
  padding: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  img {
    height: 25vh;
    object-fit: contain;
  }

  .button {
    margin-top: 1em;
    padding: 1em 2em;
    background-color: $color-green;
    color: $color-white;
    border-radius: 1em;
    border-bottom: 1px solid $color-dark-green;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

.splash {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-yellow;
  font-size: 1.5em;
  @extend .animated;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}
